<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--配置一个结点 名称为log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--是否开启log4net的调试模式，开启时可以查看log4net的内部错误-->
    <add key="log4net.Internal.Debug" value="true "/>
  </appSettings>
  <log4net>
    <!-- ConversionPattern 解释
%m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
%n(new line)：換行
%d(datetime):输出当前语句运行的时刻 
%r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数 
%t(thread id):当前语句所在的线程ID
%p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
%c(class):当前日志对象的名称
%L：输出语句所在的行号
%F：输出语句所在的文件名
%-数字：表示该项的最小长度，如果不够，则用空格填充
-->
    <!--写入到文件-->
    <appender name="FileLogAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--文件路径，如果RollingStyle为Composite或Date，则这里设置为目录，文件名在DatePattern里设置，其他则这里要有文件名。已经扩展支持虚拟目录-->
      <param name="File" value="Log\\Log4netInfo\\"  />
      <!--将日记写入到跟目录下面的Log文件夹下面的LogInfo文件夹下面的yyyy-MM-dd.TXT文件中-->
      <param name="AppendToFile" value="true"  />
      <param name="MaxSizeRollBackups" value="100"  />
      <param name="MaximumFileSize" value="10240KB"  />
      <param name="StaticLogFileName" value="false"  />
      <param name="RollingStyle" value="Date"  />
      <param name="DatePattern" value="yyyy-MM-dd.TXT"  />
      <!--TXT后缀必须是大写的，否则有问题-->
      <param name="CountDirection" value="-1"  />
      <!--log4net记录错误的格式(即：用什么样的格式（布局）来记录错误)-->
      <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
        <param name="ConversionPattern" value=" 【时间】:%d%n 【级别】:%p%n 【类名】:%c%n 【线程ID】: %thread %n 【文件地址】:%F 第%L行%n 【用户ID】:%userID %n 【用户姓名】:%userName %n 【控制器名称】:%controllerName %n 【方法名称】:%actionName %n 【方法描述】:%description %n 【操作信息】:%message %n【日记详细】：%exception %n---------------------------------------------------------------------------------------------------------------%n"  />
      </layout>
    </appender>
    <!--将日记写入SQLServer数据库-->
    <appender name="SQLServer_Appender" type="log4net.Appender.ADONetAppender">
      <!--BufferSize为缓冲区大小，只有日志记录超设定值才会一块写入到数据库-->
      <bufferSize value="0"  />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  />
      <connectionString value="Server=BINGOTAO;Database=PersonnelCost;User Id=PersonnelCost;Password=jxgis;"  />
      <commandText value="INSERT INTO log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"  />
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout">
          <conversionPattern value="%exception"/>
        </layout>
      </parameter>
    </appender>
    <!--将日记写入Oracle数据库-->
    <appender name="Oracle_Appender" type="log4net.Appender.ADONetAppender">
      <!--BufferSize为缓冲区大小，只有日志记录超设定值才会一块写入到数据库-->
      <bufferSize value="0"  />
      <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <!--连接数据库字符串-->
      <connectionString value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.jxgis.com)));User Id=fztoponymy;Password=jxgis;" />
      <commandText value="INSERT INTO systemlog (LOG_Date,LOG_Thread,LOG_Level,LOG_Logger,LOG_Exception,USERID,USERNAME,ACTIONNAME,CONTROLLERNAME,DESCRIPTION,ERRORMESSAGE) VALUES (:log_date, :thread, :log_level, :logger, :exception, :userid, :username, :actionname, :controllername, :description, :message)"  />
      <parameter>
        <parameterName value=":log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value=":thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":logger"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout">
          <conversionPattern value="%exception"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":userid"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
          <conversionPattern value="%userID"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":username"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
          <conversionPattern value="%userName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":actionname"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
          <conversionPattern value="%actionName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":controllername"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
          <conversionPattern value="%controllerName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":description"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
          <conversionPattern value="%description"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":message"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="JXGIS.FZToponymy.Utils.Log4net.MyPatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>

    </appender>

    <!--在出现什么级别的错误才记录错误 【注意：如果有多个appender-ref的时候，应该给他们放到同一个root节点下】-->
    <root>
      <level value="ALL"  />
      <appender-ref ref="FileLogAppender"/>
      <appender-ref ref="Oracle_Appender"/>
    </root>

    <!--<logger name="FileLogger">
      <level value="ALL"/>
      -->
    <!--写入文件最好为必选，以防止数据库连接或其他错误导致的日志无法正常记录-->
    <!--
      <appender-ref ref="FileLogAppender" />
      -->
    <!--写入数据库可选择一种-->
    <!--
      -->
    <!--<appender-ref ref="SQLServer_Appender" />-->
    <!--
      <appender-ref ref="Oracle_Appender" />
    </logger>-->
  </log4net>
</configuration>
